@media (max-width: 1200px) {
    .navbar .navbar-top-collapse ul.navbar-right {    
		float: none !important;    
		width: 100%;    
		.left;    
		.mr(0px) !important;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {    
		.mr(0px);    
		.ml(0px);

	}
	.container > .navbar-header
	{
		max-width: 100%;
	}
    .navbar .navbar-header .navbar-brand img
	{
		.left();
		max-height: 60px;
	}

 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .content-cat .title_cat{
    	.size(12px);
    	letter-spacing:1px;
    	
    }
    .collapse.in{
  		display:block !important;
	}
	.custom-menu-inside-div{
		width:100%;
		display:none;
		padding:0;
	}
	.column-main{
		.pb(2%) !important;
		display: inline-block;
	}
	.button_cat, .thumb{
		display:none !important;
	}
	.cat-column{
		width:100% !important;
	}
	.block-cate {
		.pt(0px) !important; 
		
		& > div{
			height:0 !important;
		}
	}
	.content-cat{
		text-align: left !important;
		.pb(0px) !important;
	}
	.title_cat{
		.size(13px) !important;
	}
	.static_menu_mobile_view{ 
		display:block; 
		
		& li:first-child{
			.pt(0px) !important;
		}
		& li:last-child{
			.pb(10px) !important;
		}
		.category-heading-p-hr{
			.pb(10px) !important;
		}
		
		& a{
			.muli-regular !important;
			letter-spacing:0px !important;
			color:black !important;
		}
	}
	.expand-plus-icon{
		cursor: pointer;
		.right;
		.mt(10px);
	}
	.mobile-view-static-menu{
		display:block;
		.mb(10px);

		& hr{
			padding: 0;
			.mt(15px);
			.mb(0);
		}
	}
	
	.content-cat{
		text-align: left;
		
		&:last-child{
			.pb(10px);
		}
	}
	.custom-menu-inside-right-div{
		display:none;
	}
	.custom-menu-inside-left-div{
		width:100% !important;
		.pb(7%) !important;
	}
	.category-heading-div{
		width:90% !important;
		text-align:left;
		padding: 10px 0 10px 20px !important;
	}
	.expand-div{
		width:100%;
		position: relative;
		border: 0;
		box-shadow: none;
		display:none;
	}
	
	.category-mobile-view{
		display:block;
		.ml(10px);
		
		
		& .first-level-li{
			width: 100%;
			display: inline-block;
		}
		
		& span.caret{
			cursor:pointer;
			z-index:9999;
			.mt(10px);
		}
			
		}
		
		& .first-level-category-image{
			width:50px;
			.left;
			.mr(10px);
			
			& img{
				width: auto;
				max-width: 100%;
			}
		}
		& .first-level-category-a{
			.left;
			.pt(10px);
		}
		
		& .second_level-ul{
			width: 91%;
			clear: both;
			display:none;
			.mr(2px);
			border: 0;
			box-shadow: none;
			position: relative;
			.right;
			
			& .second-level-a{
				width: 90%;
				display: inline-block;
				padding: 7px 0 7px 0;
				
				&:hover{
					background-color:white;
				}
			}
		}
	
	.navbar-default .navbar-nav > .open > a{
		background-color : white;
		color:@theme-color;
		
		&:hover{
			background-color : white;
		}
	}
	.first-level-category{
		display:none;
	}
	.third-level-ul{
		display:none;
		list-style: none;
		.ml(15px);
		position: relative;
		border: 0;
		box-shadow: none;
		
		& li{
			padding: 2px 0 2px 0;
		}
	}
	.category-heading-p-hr{
		display:none;
	}
	ul#top_menu{
	
		> li:hover{
			border-top:0;
			.mt(0);
		}
		> li.active{
			border-top:0;
			.mt(0);
		}
		li ul.dropdown-menu{
			position:relative;
		}
	}
	#top_menu{
		margin:0;
		.left !important;
	}
	
	.second_level-ul > li{
		width:90%;
	}
	
	span.submenu-a{
		position: absolute;
		right: 3%;
		cursor: pointer;
	}
	
	.category-mobile-view{
		display:block;
	}
	.first-level-left-div,{
		display:none;
	}
	.fa .fa-chevron-right{
		display:none;
	}
	.first-level-category-li{
		.common-div;
		.pt(5px);
		.pb(5px);
	}
	.submenu_expand{
		position: static;
		.left;
		list-style: none;
		.pt(10px);
		width:100%;
	}
	.toggel-div-effect{
		width: 90%;
		box-shadow: unset;
		border: 0;
		.ml(20px);
	}
	.sub-menu-ul-heading, .third-level-li{
		.pt(10px);
		.pb(10px);
	}
	.category-heading-center a{
		color:black !important;
		.size(13px) !important;
	}
	.second-level-category-caret{
		.mt(-15px) !important;
	}
	.category-heading-center h4 a{
		color:#777777 !important;
	}
	.expand-div{
		padding:0px 20px 0px 20px;
	}
}
@media (max-width:980px){
	.main-header-left{
		width: 13% !important;
	}
	.offer-center {
		width: 55%;
	}
	.nav > li > a {
		padding: 10px 9px !important;
	}
	.header_pera_offer
	{
		font-size: 12px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12px;
    }
    .company_details_footer
    {
    	width:100%;
    	float:none;
    }
    .social_icons_footer 
    {	width: 100%;
    	display: inline-block;
    	float: none;
    	.pt(2%);
    	.pb(2%);
    }
    .theme_icon_and_social_container .search_bar_footer 
    {	
    	display: inline-block;
    	width: 100%;
    	float: none;
    	.pt(2%);
    }
	
}
@media (max-width:895px)
{
	.header_pera_offer
	{
		font-size: 12px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 11px;
	}
	.nav > li > a {
		padding: 10px 8px !important;
	}
}

@media (max-width:768px){
		.main-header-right {
		    margin-left: 2%;
        	width: auto !important;
		}
		#header-social li {
		    margin: unset;
		}
		.offer-center {
			display:none;
		    width: 61%;
		    margin-left: 3%;
		}
		.offer-p {
		    padding-left: unset;
			text-align: unset;
		}
		.main-header .main-header-maxW {
		    width: 95%;	
		}		
		.main-header-right .company-phone-div .header-main-signin {
		    padding-right: unset;
		}
		.btn {
		    font-size: 13px;
		}
		.header_pera_offer
		{
			font-size: 12px;	
		}
		.main-header-right .company-phone-div li a span {
		    font-size: 11px !important;
		}
		#header-compare
		{
			font-size: 10px;	
		}
		#header-wishlist
		{
			font-size: 10px;
		}
		#header-cart
		{
			font-size: 10px;
		}
		.header-right .company-phone-div .dropdown .dropdown-toggle b span 
		{
			font-size: 10px !important; 
		}
		.navbar-brand img {
			max-height: 60px !important;
		}
		.navbar .navbar-top-collapse ul.navbar-right {
		    float: left !important;
		    width: auto;		    
		    text-align: left;
		    margin-left: 20px;
		}
		.navbar-default .navbar-nav > li > a {
			font-size: 12px;
		}
		.nav > li > a {
			padding: 10px 9px !important;
		}
		.navbar-brand img {
			max-height: 50px !important;
		}
		.first-level-category-caret{
		.mt(15px) !important;
	}
	& .second_level-ul{
		width: 97%;
		clear: both;
		display:none;
		.ml(35px);
		border: 0;
		box-shadow: none;
		position: relative;
		
		& .second-level-a{
			width: 100%;
			display: inline-block;
			padding: 10px 0 10px 0 !important;
		}
		
	}
	.third-level-ul{
		display:none;
		list-style: none;
		.ml(15px);
		
		& li{
			padding: 10px 0 10px 0;
		}
	}
		
}

@media (max-width: 500px) {
	.first-level-category-image{
		width:40px !important;
	}
	.first-level-category-a , .second-level-a , .third-level-ul li a{
		.size(14px);
	} 
	.third-level-ul li a{
		line-height:5px;
	}
	.wish_login_img_div{
		display:none;
    }
    .login-form-left-content{
		width:100%;
    }
    .anim-search{
		right: 25% !important;
		left: 20%;
    }
    .ul_class_admin_name a{
		.size(12px) !important;
	}
	.theme_icon_and_social_container .search_bar_footer .lbl_div_container .input-group {
		width: 80%;
	}
	.theme_icon_and_social_container .search_bar_footer .lbl_div_container .newsltr_lbl {
	
		margin: 0 3% 15px auto;
	}
	
}



@media (max-width:800px)
{
.main-header-left{
		width: 7% !important;
	}
	.offer-center {
		width: 61%;
	}
	.header_pera_offer
	{
		font-size: 12px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 11px;
	}
	.nav > li > a {
		padding: 10px 8px !important;
	}

	.main-header-left{
		width: 25% !important;
	}
	.offer-center {
		width: 61%;
	}
	.header_pera_offer {
		display: inline-block;
		padding-right: 2px;
		font-size:12px;
	}
	.header_pera_offer_pipe {
		padding-left: 5px;
		padding-right: 2px;
	}
	.main-header-right {
		width: 70% !important;
	}
	.header-main-signin{
		padding-right: 10px !important;
		padding-top: 2px !important;
	}
	.mr-common {
		padding-right: 3px !important;
		padding-left: 5px !important;
	}
	.offer-p {
		padding-left: 3%;
	}
	.header-right .company-phone-div .dropdown .dropdown-toggle b span {
    font-size: 11px !important;
	}
	.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    }
    .nav navbar-nav navbar-right
    {
		float: right !important;
		.mr(10px);
    }
    .navbar .navbar-top-collapse ul.navbar-right {
		    /*float: right !important;*/
		    width: auto;
		    display: inline-block;
		    text-align: left;
		    .mr(20px);
	}
	.logo_name_container 
	{
		.size(20px);
	}
	.theme_icon_and_social_container .search_bar_footer .lbl_div_container .newsltr_lbl 
	{
		.size(15px);
	}
	#header-social li {
    margin: 0 3px 0 3px;
    }
    
    .div_img{
		height: auto !important;
		.mb(10%);
    }
    
    .clarico_close {
		top: -100%;
		right: -30px;
    }
    
     .anim-search .input-group
     {
		width: 245px !important;
     }
    
}
